{% extends 'layouts/base.html' %}
{% load static %}

{% block content %}
<div class="col-xs-12">
<div class="card">
    <div class="card-header">
        <strong>Stocks</strong>
        <a class="btn btn-success pull-right" href="{% url 'Accountant:new_stock' %}">Add New Stock</a>
    </div>
    <div class="card-body">
        <div class="table-flip-scroll table-responsive">
            <table class="table table-striped dataTable">
                <thead>
                <tr>
                    <th>Stock Name</th>
                    <th>Date Purchased</th>
                </tr>
                </thead>
                <tbody>
                {% for stock in stocks %}
                <tr>
                    <td><a href="{% url 'Accountant:products' stock.id %}">{{ stock.name }}</a></td>
                    <td>{{ stock.created_at }}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>

        </div>
    </div>
</div>
</div>
{% endblock %}